* {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;
}

body div {
  height: 100%;
  width: 100%;
}

#top {
  height: 30%;
}

#down {
  height: 70%;
  /* flex-grow: 1; */
}

img {
  display: none;
  height: 0;
  width: 0;
}

img.show {
  display: block;
  height: 100%;
  width: 100%;
}
